page-detail {

        ion-slides {
            height: 200px;
            width:100%;
        }

        .thumb-img {
            max-width: 100vw !important;
            max-height: 100vh !important;
        }

        .address, .phone {
            margin-top: 10px;
        }


}
