<ion-header>
  <my-header></my-header>
</ion-header>

<ion-content>
    <ion-card>
      <ion-card-header>
        <h1 [innerText]="getTitle()"></h1>
    </ion-card-header>

    <ion-slides *ngIf="placeImages.length > 1" pager="true">
      <ion-slide *ngFor="let img of placeImages">
        <img class="thumb-img" [src]="img" imageViewer/>
      </ion-slide>
    </ion-slides>

    <audio-track #audioTrack [track]="currentTrack" [autoplay]="false">
      <div style="display: flex">
        <button ion-button icon-only (click)="play()"><ion-icon name="play"></ion-icon></button>
        <button ion-button icon-only (click)="pause()"><ion-icon name="pause"></ion-icon></button>

        <audio-track-progress-bar dark duration progress [audioTrack]="currentTrack"></audio-track-progress-bar>
      </div>
      <div style="display: flex; justify-content: center; height: 50px">
        <ion-spinner *ngIf="audioTrack && audioTrack.isLoading"></ion-spinner>
      </div>
    </audio-track>

    <ion-card-content>
    <p [innerText]="getDescription()"></p>
    <p class="address"><b>{{ 'DETAIL_ADDRESS' | translate }}:</b> {{ item.address }}</p>
    <ion-fab right bottom>
        <a href="https://www.google.com/maps/dir/?api=1&destination=Av+Libertador+1110+santiago+del+estero" ion-fab color="primary">
            <ion-icon name="navigate"></ion-icon>
        </a>
    </ion-fab>
</ion-card-content>
</ion-card>
</ion-content>
